<p-fieldset legend="{{ machine?.name }} - Vertical to">

  <p >Moves the stacker crane vertically to the specified counter goal.</p>
  <p>Approximative encoder values for key vertical rows are: 
  </p>
  <ul>
    <li>TOP row: 200 (Highest position)</li>
    <li>MIDDLE row: 900</li>
    <li>BOTTOM row: 1700</li>
    <li>CONVEYOR row: 1450 (Load/Unload position)</li>
  </ul>

  <app-single-int-widget (onValuesChanged)="handleValuesChanged($event)"/>

  <!-- Action Buttons -->
  <div class="">
    <p-button label="Execute" (click)="onExecute()" ></p-button>
  </div>
</p-fieldset>
