<p-fieldset legend="{{ machine?.name }} - Go to row">

  <p >Moves the stacker crane vertically to the specified row.</p>
  <p>Possible values are:</p>
  <ul>
    <li>Row.CONVEYOR or 0: Load/Unload position at the conveyor belt</li>
    <li>Row.BOTTOM or 1: Bottom storage row</li>
    <li>Row.MIDDLE or 2: Middle storage row</li>
    <li>Row.TOP or 3: Top storage row</li>
  </ul>

  <app-single-int-widget (onValuesChanged)="handleValuesChanged($event)"/>

  <!-- Action Buttons -->
  <div class="">
    <p-button label="Execute" (click)="onExecute()" ></p-button>
  </div>
</p-fieldset>
