<!-- Fischertechnik SCADA Header -->
<div class="ui container" style="margin-top: 1.5em">
  <div class="ui stacked segment">
    <h2>FischerTechnik SCADA - Machine Direct Command View</h2>
  </div>
</div>


<p-panel header="Machine Commands">
  <!-- Instructions Section -->
  <ng-template pTemplate="icons">
      <p-button class="right-0" (onClick)="helpOP.toggle($event)" icon="pi pi-question-circle" label="" />
        <p-overlayPanel #helpOP>
          <p-accordion [activeIndex]="0">
            <p-accordionTab header="Panel Description">
              <p>Send commands to machines. </p>
            </p-accordionTab>
            <p-accordionTab header="How to use the Machine Command Message View?">
              <ol class="ui list">
                <li>Select a machine  </li>
                <li>Select the command you want to perform from the list of template commands available for the machine.</li>
                <li>Fill the fomr</li>
              </ol>
            </p-accordionTab>
          </p-accordion>
        </p-overlayPanel>
  </ng-template>
  <p-fieldset legend="Command selection">
    <div class="flex justify-content-evenly flex-wrap">



      <!-- Machine Selection -->
      <div class="form-group flex-grow-1">
        <label>Machine</label>
        <p-dropdown
          [options]="getMachines(configuration)"
          [(ngModel)]="selectedMachine"
          optionLabel="name"
          (onClick)="onMachineSelected()"
          [style]="{'width':'15rem'}"  />
      </div>
      <!-- Command Selection -->
      <div class="form-group flex-grow-1">
        <label>Command</label>
        <p-dropdown
          [options]="getCommandNames(instance, selectedMachine?.name)"
          [(ngModel)]="selectedCommand"
          (onClick)="onCommandSelected()"
          [style]="{'width':'15rem'}"  >
          <ng-template let-command pTemplate="item">
            <div class="flex align-items-center gap-2">
              <i class="pi pi-pencil" style="font-size: 0.75rem"></i>
              <div>{{ humanizeCommandName(command) }}</div>
            </div>
        </ng-template>

        </p-dropdown>
      </div>
      <!-- Preset Command Selection -->
      <div class="form-group flex-grow-1">
        <label>Preset Command from missions</label>
        <p-dropdown
          [options]="getMissionCommandQualifiedNames(missionConfiguration, selectedMachine?.name)"
          [(ngModel)]="selectedMissionCommand"
          (onClick)="onMissionCommandSelected()"
          [style]="{'width':'15rem'}"  >
          <ng-template let-command pTemplate="item">
            <div class="flex align-items-center gap-2">
              <i class="pi pi-pencil" style="font-size: 0.75rem"></i>
              <div>{{ command }}</div>
            </div>
        </ng-template>

        </p-dropdown>
      </div>
    </div>
  </p-fieldset>


  <!-- Form -->

  <div class="ui form attached fluid segment">
    <!-- <div style="margin-bottom: 2em; margin-top: 2em; height: 1px; border: solid 1px #dddddd;"></div> -->

    @switch (selectedMachine?.type) {

      <!-- V A C U U M   G R I P P E R -->

      @case ("vacuumGripper") {
        @switch (selectedCommand) {
          @case ("status") {
            <!--<app-vacuum-gripper-status [machine]="selectedMachine"
                                       [placeholder]="commandToSend"></app-vacuum-gripper-status>-->
            <app-generic-status-command [machine]="selectedMachine"
                                        [placeholder]="commandToSend"
                                        [title]="'Parameters Status'"
                                        [description]="'Get the values of requested parameters for the machine.'"
                                        [destinationSuffix]="'/request/status'"
                                        [requestStatusParameters]="getRequestStatusParameters('vacuumGripper')"></app-generic-status-command>
          }
          @case ("setup") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'Setup'"
                                          [description]="'Move the gripper to its reference position. Used to initialize its internal counters.'"
                                          [destinationSuffix]="'/command/setup'"></app-generic-no-param-command>
          }
          @case ("stop") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'STOP'"
                                          [description]="'Immediately stop any ongoing operation or command on this machine.'"
                                          [destinationSuffix]="'/command/stop'"></app-generic-no-param-command>
          }
          @case ("pick") {
            <app-vacuum-gripper-pick [machine]="selectedMachine"
                                     [placeholder]="commandToSend"></app-vacuum-gripper-pick>
          }
          @case ("move") {
            <app-vacuum-gripper-move [machine]="selectedMachine"
                                     [placeholder]="commandToSend"></app-vacuum-gripper-move>
          }
          @case ("place") {
            <app-vacuum-gripper-place [machine]="selectedMachine"
                                      [placeholder]="commandToSend"></app-vacuum-gripper-place>
          }
          @case ("go_to_position") {
            <app-vacuum-gripper-gotoposition [machine]="selectedMachine"
                                             [placeholder]="commandToSend"></app-vacuum-gripper-gotoposition>
          }
          @case ("grip") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'GRIP'"
                                          [description]="'Activate the grip of the VGR.'"
                                          [destinationSuffix]="'/command/grip'"></app-generic-no-param-command>
          }
          @case ("release") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'RELEASE'"
                                          [description]="'Release the grip of the VGR.'"
                                          [destinationSuffix]="'/command/release'"></app-generic-no-param-command>
          }
          @case ("move_to_safe_position") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'MOVE_TO_SAFE_POSITION'"
                                          [description]="'Move the vacuum gripper to safe position.'"
                                          [destinationSuffix]="'/command/move_to_safe_position'"></app-generic-no-param-command>
          }
          @case ("retract_arm") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'Retract arm'"
                                          [description]="'Retract the arm of the gripper.'"
                                          [destinationSuffix]="'/command/retract_arm'"></app-generic-no-param-command>
          }
          @case ("ordered_move_to") {
            <app-vacuum-gripper-orderedmoveto [machine]="selectedMachine"
                                              [placeholder]="commandToSend"></app-vacuum-gripper-orderedmoveto>
          }
          @default {
            @if (!selectedMissionCommand) {

              <div class="ui compact message">
                <p>Please select a Command or a Mission Command.</p>
              </div>
            }
          }
        }
        @if (selectedMissionCommand) {
          <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="selectedMissionCommand"
                                          [description]="getMissionCommandDescription(missionConfiguration, selectedMissionCommand)"
                                          [destinationSuffix]="getDestinationSuffixFromJSONPlaceholder(commandToSend)"></app-generic-no-param-command> 
        }
      }

      <!-- S O R T I N G   L I N E -->

      @case ("sortingLine") {
        @switch (selectedCommand) {
          @case ("stop") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'STOP'"
                                          [description]="'Immediately stop any ongoing operation or command on this machine.'"
                                          [destinationSuffix]="'/command/stop'"></app-generic-no-param-command>
          }
          @case ("eject") {
            <app-sorting-line-eject [machine]="selectedMachine"
                                    [placeholder]="commandToSend"
                                    [destinationSuffix]="'/command/eject'"></app-sorting-line-eject>
          }
          @default {
            @if (!selectedMissionCommand) {

              <div class="ui compact message">
                <p>Please select a Command or a Mission Command.</p>
              </div>
            }
          }
        }
        @if (selectedMissionCommand) {
          <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="selectedMissionCommand"
                                          [description]="getMissionCommandDescription(missionConfiguration, selectedMissionCommand)"
                                          [destinationSuffix]="getDestinationSuffixFromJSONPlaceholder(commandToSend)"></app-generic-no-param-command> 
        }
      }

      <!-- C O N V E Y O R   B E L T -->

      @case ("conveyorBelt") {
        @switch (selectedCommand) {

          @case ("stop") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'STOP'"
                                          [description]="'Immediately stop any ongoing operation or command on this machine.'"
                                          [destinationSuffix]="'/command/stop'"></app-generic-no-param-command>
          }
          @case ("moveOut") {
            <app-generic-direction-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'MOVE_OUT'"
                                          [description]="'Move the package to a given direction until it leaves the conveyor.'"
                                          [destinationSuffix]="'/command/move_out'"></app-generic-direction-command>
          }
          @case ("moveToSensor") {
            <app-generic-direction-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'MOVE_TO_SENSOR'"
                                          [description]="'Move the package to a given direction until it reaches the sensor.'"
                                          [destinationSuffix]="'/command/move_to_sensor'"></app-generic-direction-command>
          }
          @case ("moveNbSteps") {
            <app-generic-direction-nb-steps-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'MOVE_NB_STEPS'"
                                          [description]="'Move the package to a given direction until it reaches the sensor.'"
                                          [destinationSuffix]="'/command/move_nb_steps'"></app-generic-direction-nb-steps-command>
          }
          @default {
            @if (!selectedMissionCommand) {

              <div class="ui compact message">
                <p>Please select a Command or a Mission Command.</p>
              </div>
            }
          }
        }
        @if (selectedMissionCommand) {
          <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="selectedMissionCommand"
                                          [description]="getMissionCommandDescription(missionConfiguration, selectedMissionCommand)"
                                          [destinationSuffix]="getDestinationSuffixFromJSONPlaceholder(commandToSend)"></app-generic-no-param-command> 
        }
      }

      <!-- M U L T I P R O C E S S I N G   S T A T I O N -->

      @case ("multiProcessingStation") {
        @switch (selectedCommand) {
          @case ("setup") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'Setup'"
                                          [description]="'Perform a setup by placing the station elements on their reference positions.'"
                                          [destinationSuffix]="'/command/setup'"></app-generic-no-param-command>
          }
          @case ("process1") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'PROCESS1'"
                                          [description]="'Launch the process 1 of the multiprocessing station. \
                                          (wait until payload is present, \
                                          move payload into oven, \
                                          activate oven for a few seconds, \
                                          move payload to turn table, \
                                          turn to saw and saw for a few seconds, \
                                          eject payload via conveyor)'"
                                          [destinationSuffix]="'/command/process1'"></app-generic-no-param-command>
          }
          @case ("process") {
            <app-multiprocessing-process [machine]="selectedMachine"
                                         [placeholder]="commandToSend"></app-multiprocessing-process>
          }
          @case ("stop") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'STOP'"
                                          [description]="'Immediately stop any ongoing operation or command on this machine.'"
                                          [destinationSuffix]="'/command/stop'"></app-generic-no-param-command>
          }
          @case ("move_to_safe_position") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'MOVE_TO_SAFE_POSITION'"
                                          [description]="'Move the multiprocessing unit to safe position'"
                                          [destinationSuffix]="'/command/move_to_safe_position'"></app-generic-no-param-command>
          }
          @case ("oven_load") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'OVEN_LOAD'"
                                          [description]="'Load the oven.'"
                                          [destinationSuffix]="'/command/oven_load'"></app-generic-no-param-command>
          }
          @case ("oven_unload") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'OVEN_UNLOAD'"
                                          [description]="'Unload the oven.'"
                                          [destinationSuffix]="'/command/oven_unload'"></app-generic-no-param-command>
          }
          @case ("oven_heat") {
            <app-generic-integer-command [machine]="selectedMachine"
                                         [placeholder]="commandToSend"
                                         [title]="'OVEN_HEAT'"
                                         [description]="'Heat the oven for x seconds.'"
                                         [destinationSuffix]="'/command/oven_heat'"></app-generic-integer-command>
          }
          @case ("oven_process") {
            <app-generic-integer-command [machine]="selectedMachine"
                                         [placeholder]="commandToSend"
                                         [title]="'OVEN_PROCESS'"
                                         [description]="'Process payload in oven for x seconds.'"
                                         [destinationSuffix]="'/command/oven_process'"></app-generic-integer-command>
          }
          @case ("arm_move") {
            <app-mps-arm-position [machine]="selectedMachine"
                                  [placeholder]="commandToSend"
                                  [title]="'ARM_MOVE'"
                                  [destinationSuffix]="'/command/arm_move'"></app-mps-arm-position>
          }
          @case ("arm_pick") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'ARM_PICK'"
                                          [description]="'Pick the payload with the arm.'"
                                          [destinationSuffix]="'/command/arm_pick'"></app-generic-no-param-command>
          }
          @case ("arm_place") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'ARM_PLACE'"
                                          [description]="'Place the payload with the arm.'"
                                          [destinationSuffix]="'/command/arm_place'"></app-generic-no-param-command>
          }
          @case ("turntable_rotate") {
            <app-mps-turntable-position [machine]="selectedMachine"
                                  [placeholder]="commandToSend"
                                  [title]="'TURNTABLE_ROTATE'"
                                  [destinationSuffix]="'/command/turntable_rotate'"></app-mps-turntable-position>
          }
          @case ("turntable_eject") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'TURNTABLE_EJECT'"
                                          [description]="'Eject payload from turntable.'"
                                          [destinationSuffix]="'/command/turntable_eject'"></app-generic-no-param-command>
          }
          @case ("conveyor_move_to_sensor") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'CONVEYOR_MOVE_TO_SENSOR'"
                                          [description]="'Move the payload on conveyor to sensors.'"
                                          [destinationSuffix]="'/command/conveyor_move_to_sensor'"></app-generic-no-param-command>
          }
          @case ("conveyor_move_out") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'CONVEYOR_MOVE_OUT'"
                                          [description]="'Move the payload out of the conveyor.'"
                                          [destinationSuffix]="'/command/conveyor_move_out'"></app-generic-no-param-command>
          }
          @case ("saw_cut") {
            <app-generic-integer-command [machine]="selectedMachine"
                                         [placeholder]="commandToSend"
                                         [title]="'SAW_CUT'"
                                         [description]="'Cut with the saw for x seconds.'"
                                         [destinationSuffix]="'/command/saw_cut'"></app-generic-integer-command>
          }
          @default {
            @if (!selectedMissionCommand) {

              <div class="ui compact message">
                <p>Please select a Command or a Mission Command.</p>
              </div>
            }
          }
        }
        @if (selectedMissionCommand) {
          <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="selectedMissionCommand"
                                          [description]="getMissionCommandDescription(missionConfiguration, selectedMissionCommand)"
                                          [destinationSuffix]="getDestinationSuffixFromJSONPlaceholder(commandToSend)"></app-generic-no-param-command> 
        }
      }

      <!-- H I G H B A Y   W A R E H O U S E -->

      @case ("highBayWarehouse") {
        @switch (selectedCommand) {
          @case ("cantilever_backward") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'Cantilever backward'"
                                          [description]="'Move the cantilever to the rear.'"
                                          [destinationSuffix]="'/command/cantilever_backward'"></app-generic-no-param-command>
          }
          @case ("cantilever_forward") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'Cantilever forward'"
                                          [description]="'Move the cantilever forward.'"
                                          [destinationSuffix]="'/command/cantilever_forward'"></app-generic-no-param-command>
          }
          @case ("conveyor_backward") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'Conveyor backward'"
                                          [description]="'Move the conveyor to the rear.'"
                                          [destinationSuffix]="'/command/conveyor_backward'"></app-generic-no-param-command>
          }
          @case ("conveyor_forward") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'Conveyor forward'"
                                          [description]="'Move the conveyor forward.'"
                                          [destinationSuffix]="'/command/conveyor_forward'"></app-generic-no-param-command>
          }
          @case ("conveyor_stop") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'Conveyor stop'"
                                          [description]="'Stop the conveyor.'"
                                          [destinationSuffix]="'/command/conveyor_stop'"></app-generic-no-param-command>
          }
          @case ("go_to_column") {
            <app-highbay-warehouse-go-to-column [machine]="selectedMachine"
                                                [placeholder]="commandToSend"></app-highbay-warehouse-go-to-column>
          }
          @case ("go_to_row") {
            <app-highbay-warehouse-go-to-row [machine]="selectedMachine"
                                             [placeholder]="commandToSend"></app-highbay-warehouse-go-to-row>
          }
          @case ("horizontal_to") {
            <app-highbay-warehouse-horizontal-to [machine]="selectedMachine"
                                                 [placeholder]="commandToSend"></app-highbay-warehouse-horizontal-to>
          }
          @case ("setup") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'Setup'"
                                          [description]="'Perform a setup by placing the station elements on their reference positions.'"
                                          [destinationSuffix]="'/command/setup'"></app-generic-no-param-command>
          }
          @case ("retrieve") {
            <app-highbay-warehouse-retrieve [machine]="selectedMachine"
                                            [placeholder]="commandToSend"></app-highbay-warehouse-retrieve>
          }
          @case ("store") {
            <app-highbay-warehouse-store [machine]="selectedMachine"
                                         [placeholder]="commandToSend"></app-highbay-warehouse-store>
          }
          @case ("stop") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'Stop'"
                                          [description]="'Stop the highbay warehouse'"
                                          [destinationSuffix]="'/command/stop'"></app-generic-no-param-command>
          }
          @case ("vertical_to") {
            <app-highbay-warehouse-vertical-to [machine]="selectedMachine"
                                               [placeholder]="commandToSend"></app-highbay-warehouse-vertical-to>
          }
          @case ("move_to_safe_position") {
            <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="'MOVE_TO_SAFE_POSITION'"
                                          [description]="'Move the highbay warehouse to safe position'"
                                          [destinationSuffix]="'/command/move_to_safe_position'"></app-generic-no-param-command>
          }
          @default {
            @if (!selectedMissionCommand) {

              <div class="ui compact message">
                <p>Please select a Command or a Mission Command.</p>
              </div>
            }
          }
        }
        @if (selectedMissionCommand) {
          <app-generic-no-param-command [machine]="selectedMachine"
                                          [placeholder]="commandToSend"
                                          [title]="selectedMissionCommand"
                                          [description]="getMissionCommandDescription(missionConfiguration, selectedMissionCommand)"
                                          [destinationSuffix]="getDestinationSuffixFromJSONPlaceholder(commandToSend)"></app-generic-no-param-command> 
        }
      }

      @default {
        <div class="">
          <p>Machine not selected</p>
          <p>{{selectedMachine?.type}}</p>
        </div>
      }
    }
  </div>
  @if (! (selectedMachine === undefined)) {
    <p-fieldset legend="Machine/Command status">
      <app-machine-status-widget [machine]="selectedMachine"></app-machine-status-widget>
      <app-command-status-widget [machine]="selectedMachine"></app-command-status-widget>
    </p-fieldset>
  }
</p-panel>
<div class="block-container">
  <div class="form-group">
    <label>Recent messages log</label>
    <app-log-table-widget></app-log-table-widget>
  </div>
</div>
<div class="block-container">
  <div class="form-group">
    <label>Recent messages log</label>
    <div class="console-log" logs>
      @for (log of logs; track $index) {
      <div>
        <pre>{{ log }}</pre>
      </div>
      }
    </div>
  </div>
</div>