<!-- Parameters -->
<div class="form-group " [formGroup]="parametersForm">
  <div class="flex justify-content-evenly flex-wrap">

    @if (! (title === undefined)) {
      <div class="form-group  flex-grow-1" formGroupName="rotationGroup">
        <label>{{ title }}</label>
      </div>
    }

    <div class="form-group  flex-grow-1" formGroupName="rowGroup">
      <label>Row</label>
      <p-inputNumber
        formControlName="row"
        inputId="minmax"
        mode="decimal"
        (onInput)="emitValues()"
        [min]="0"
        [showButtons]="true"
        [step]="1" />
    </div>
    <div class="form-group   flex-grow-1"  formGroupName="columnGroup">
      <label>Column</label>
      <p-inputNumber
        formControlName="column"
        inputId="minmax"
        mode="decimal"
        (onInput)="emitValues()"
        [min]="0"
        [showButtons]="true"
        [step]="1" />
    </div>
  </div>
</div>
