<p-fieldset legend="{{ machine?.name }} - {{ title }}">

  <p>{{ description }}</p>

  <!-- Parameters -->
    <div class="form-group " [formGroup]="parametersForm">
      <div class="flex justify-content-evenly flex-wrap">
        <div class="form-group  flex-grow-1" formGroupName="directionGroup">
          <label>Direction</label>
          <p-dropdown 
            [options]="directions"
            optionLabel="name" 
            formControlName="direction"/>
        </div>
        <div class="form-group   flex-grow-1"  formGroupName="stepsGroup">
          <label>Number of steps</label>
          <p-inputNumber 
            formControlName="steps"
            inputId="minmax" 
            mode="decimal" 
            [min]="0"
            [showButtons]="true" 
            [step]="5" /> 
        </div>
      </div>
    </div>

  <!-- Action Buttons -->
  <div class="">
    <p-button label="Execute" (click)="onExecute()" ></p-button>
  </div>
</p-fieldset>


