/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';

.block-container {
    /* Add any additional styles you need */
    padding: 1em;
    //background-color: #f9f9f9;
    border: 1px solid lightgray;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.p-panel-header {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.p-fieldset-legend {
    padding: 0.3rem;
    //border: none;
}
.p-fieldset {
    padding-top: 1rem;
}
.p-fieldset-content {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.log-tooltip {
  min-width: 800px;          // desired tooltip width
  max-width: 400px;          // desired tooltip width
  white-space: pre-wrap;     // preserve line breaks and wrap text
  word-wrap: break-word;     // wrap long words
  font-size: 0.875rem;       // adjust size
  font-family: monospace;
}